.profile-upload{
    border-radius: 100%;
    border: 2px solid #ccc;
}
.profile{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.top-links a {
    display: block;
    font-size: 13px;
    padding-left: 3px;
    padding-right: 15px;
}
